<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}<title>Graph visualizer</title>{% endblock %}
    {% load static %}
    <style>

        .center {
            position: absolute;
            bottom: 0;
            left: 1100px;
        }
        .treeview-animated{
            position: absolute;
            right: 0;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
{#    <link rel="stylesheet" href="static/style.css">#}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '../static/style.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
</head>
<body>
{% block content %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>




    <div id="myTabContent" class="wrapper">
        <nav id="sidebar1" class="sidebar">
            <div class="sidebar-header">
                <h3>Graph visualizer</h3>
            </div>
            <div class="s">
                <form  method ="post" action="{% url 'search' %}">
                {% csrf_token %}
                    <div class="input-group rounded">
                        <input type="search" placeholder="Search" name="search">
                         <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
            </form>
            </div>
            <div class="s">
                <form method ="post" action="{% url 'filter' %}">
                 {% csrf_token %}
                    <div class="input-group rounded">
                        <input type="search" placeholder="Filter (e.g. age>20)" name="filter">
                         <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
            </form>
            </div>

        <form  method="post" action="{% url 'load_data_source' %}">
        {% csrf_token %}
            <div class="flex-container">
                <select class="form-control" id="visualizer" name="visualizer">
                  {% for v in visualisers %}
                    <option name="source" class="options" value="{{v.identifier}}">{{v.name}}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="file">
                 {% csrf_token %}
                <div class="input-group rounded">
                    <input type="search" placeholder="Input file path" name="file">
                     <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <select class="form-control" id="dataSource" name="parser">
                      {% for l in loaders %}
                        <option name="source" class="options" value="{{l.identifier}}">{{l.name}}</option>
                      {% endfor %}
                    </select>
                    <button class="flex-item-left" type="submit">Apply plugin</button>
                </div>
            </div>
            </form>
         <form method ="post" action="{% url 'workspace' %}">
    {% csrf_token %}
        <button class="flex-item-left" id="addWorkspaceBtn">Add workspace</button>
    </form>
    <form method ="post"  action="{% url 'load_workspace' %}">
 {% csrf_token %}
        <select name="workspaces_select" class="workspaces">
         {% for key in workspaces %}
            <option name="option_workspace" class="options">{{key}}</option>
         {% endfor %}
        </select>
        <button class="flex-item-left" id="applyWorkspaceBtn">Apply workspace</button>
    </form>
        </nav>
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" onclick="toggleSidebar('sidebar1')">
                        <i class="fas fa-align-left"></i>
                        <span>Plugins</span>
                    </button>
                    <button type="button" id="sidebarTreeCollapse" class="btn btn-info" onclick="toggleSidebar('sidebar2')">
                        <i class="fas fa-align-left"></i>
                        <span>Views</span>
                    </button>
                </div>
            </nav>
        </div>

    </div>

    <div class="top_wrapper">
        <div class="top" id="top">
            <svg width="100%" height="100%" id="mainView">
            </svg>
            {% include 'mainView.html' %}
        </div>
        <div class="top2">
            <div class="sidebar-header">
                <p>Bird view</p>
                <div id="divBird">
                    <svg height="100%" width="100%" id="birdView"></svg>
                    <rect id="viewportRect" stroke="red" stroke-width="2" fill="none"></rect>
                </div>
                <p>Tree view</p>
                <div id="divTree">
                    <svg height="100%" width="100%" id="treeView"></svg>
                    {% include 'treeView.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>

<script>

  function toggleSidebar(sidebarId) {
    var sidebar = document.getElementById(sidebarId);
    sidebar.style.width = sidebar.style.width === '0px' ? '300px' : '0';
    }

  document.getElementById("dataSource").addEventListener("change", function() {
    var selectedText = this.options[this.selectedIndex].text;
    console.log("Selected text: " + selectedText);
  });


    function scrollIfNeeded(element, container) {
        if (element == null)
            return
        if (element.offsetTop < container.scrollTop) {
            container.scrollTop = element.offsetTop;
        }
        else {
            const offsetBottom = element.offsetTop + element.offsetHeight;
            const scrollBottom = container.scrollTop + container.offsetHeight;
            if (offsetBottom > scrollBottom) {
                container.scrollTop = offsetBottom - container.offsetHeight;
            }
        }
        container.scrollLeft = element.offsetLeft - 10;
    }

    if (document.getElementById('last-opened-node') != null) {
        const lastOpenedNode = document.getElementById('last-opened-node').innerHTML;
        element = document.getElementById(lastOpenedNode);
        if (element) {
            scrollIfNeeded(element, document.getElementById('tree'));
            element.classList.add("selected-item");
        }
    }

    const nodeToggles = document.querySelectorAll('.node-toggle');
    nodeToggles.forEach(toggle => {
        toggle.addEventListener('click', function (event) {
            event.preventDefault();
            const node = this.parentNode;
            toggleNode(node);
        });
    });

    let nodesTree = document.querySelectorAll('.node-toggle');
    nodesTree.forEach(toggle => {
        toggle.addEventListener('click', function (event) {
            event.preventDefault();
            const node = this.parentNode;
            let newSelected = node.querySelector("#object-id").innerHTML;
            if (current != null) {
                nodeView(current, "#003B73")
            }
            current = nodesGraph[newSelected];
            nodeView(current, "red");
        });
    });

    function toggleNode(node) {

        const nodeId = node.id;
        const childrenContainer = node.querySelector('.node-children');
        const dynamicTreeContainer = document.getElementById('dynamic-tree');

        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/${nodeId};open`, true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                dynamicTreeContainer.innerHTML = xhr.responseText;

                const newToggles = dynamicTreeContainer.querySelectorAll('.node-toggle');
                newToggles.forEach(toggle => {
                    toggle.addEventListener('click', function (event) {
                        event.preventDefault();
                        const newNode = this.parentNode;
                        toggleNode(newNode);
                    });
                });
                let nodesTree = document.querySelectorAll('.node-toggle');
                nodesTree.forEach(toggle => {
                    toggle.addEventListener('click', function (event) {
                        event.preventDefault();
                        const node = this.parentNode;
                        let newSelected = node.querySelector("#object-id").innerHTML;
                        if (current != null) {
                            nodeView(current, "#003B73")
                        }
                        current = nodesGraph[newSelected];
                        nodeView(current, "red");
                    });
                });
                document.getElementById('last-opened-node').innerHTML = node.id
                element = document.getElementById(node.id);
                if (element) {
                    scrollIfNeeded(element, document.getElementById('tree'));
                    element.classList.add("selected-item");
                }
            }
        };
        xhr.send();

        const arrow = node.querySelector('.arrow');
        const isClosed = arrow.textContent === '➕';
        arrow.textContent = isClosed ? '➖' : '➕';

        if (childrenContainer) {
            childrenContainer.style.display = isClosed ? 'block' : 'none';
        }
    }

</script>