
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                <style>
                .node {
                cursor: pointer;
                color: #5b5b5b;
                text-align: center;
                }

                .link {
                fill: none;
                stroke: #333333;
                stroke-width: 1.5px;
                }
                </style>

                <script type="text/javascript">

                var current = null;

                var nodesGraph = JSON.parse("{\u00220\u0022: {\u0022id\u0022: \u0022ID_0\u0022, \u0022attributes\u0022: [\u0022name: Sergey Prokopyev\u0022, \u0022lastname: sonja\u0022, \u0022hobbies: [football, tennis]\u0022, \u0022friends: 2\u0022], \u0022weight\u0022: 1}, \u00221\u0022: {\u0022id\u0022: \u0022ID_1\u0022, \u0022attributes\u0022: [\u0022name: lastname\u0022, \u0022hobbies: [football, tennis]\u0022, \u0022friends: 1\u0022], \u0022weight\u0022: 1}, \u00222\u0022: {\u0022id\u0022: \u0022ID_2\u0022, \u0022attributes\u0022: [\u0022name: Frank Rubio\u0022, \u0022hobbies: [painting, singing]\u0022], \u0022weight\u0022: 1}}");                
                var links= JSON.parse("[{\u0022source\u0022: 0, \u0022target\u0022: 1}]");

                links.forEach(function(link) {
                    link.source = nodesGraph[link.source];
                    link.target = nodesGraph[link.target];
                });

                var svg = d3.select('#mainView').call(d3.behavior.zoom().on("zoom", function () {
                                        svg.attr("transform", " translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
                                })).append('g');

                var force = d3.layout.force()
                    .charge(-550)
                    .linkDistance(600)
                    .size([1500, 800])
                    .nodes(d3.values(nodesGraph)) 
                    .links(links) 
                    .on("tick", tick) 
                    .gravity(0.3)
                    .start(); 

                var link = svg.selectAll('.link')
                    .data(links)
                    .enter().append('line')
                    .attr('class', 'link');

                var node = svg.selectAll('.node')
                    .data(force.nodes())
                    .enter().append('g')
                    .attr('class', 'node')
                    .attr('id', function(d){return d.id;})
                    .on('click', clicked);
                d3.selectAll('.node').each(function(d){nodeView(d, '#595959');});

                function nodeView(d, color){
                    var width=30;
                    var textSize=12;

                    d3.select("g#"+d.id).append('circle').
                    attr('cx',0).attr('cy', 0).attr('r', width).attr('fill', color);
                    
                    d3.select("g#"+d.id).append('text').attr('x', 0).attr('y', 4)
                    .attr('text-anchor','middle')
                    .attr('font-size',textSize).attr('font-family','poppins')
                    .attr('fill','white').text(d.id);
                }

                while (force.alpha() > force.alphaMin()) { force.tick(); ticked(); }

                function tick(e) {

                    node.attr("transform", function(d) {return "translate(" + d.x + "," + d.y + ")";})
                        .call(force.drag);

                    link.attr('x1', function(d) { return d.source.x; })
                        .attr('y1', function(d) { return d.source.y; })
                        .attr('x2', function(d) { return d.target.x; })
                        .attr('y2', function(d) { return d.target.y; });

                }

                function ticked() {
                    // console.log("Ticked");
                    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
                }
                
                function clicked(el){
                    console.log("USAO U CLICKED")
                    var message = "";
                    message += "ID:" + el.id + ", ";
                    if(current != null) {
                        d3.selectAll('.node').each(function(d){nodeView(d, '#595959');});
                        nodeView(nodesGraph[current.id.replace("ID_", "")], '#1a324c')
                    }
                    var node = nodesGraph[el.id.replace("ID_", "")];
                    current = node;
                    nodeView(current, '#1a324c')
                    for(var i=0;i<node.attributes.length;i++) {
                        message += node.attributes[i] + ", ";
                    }
                    console.log("PORUKA: " + message)
                    alert(message)
                    const wait = (n) => new Promise((resolve) => setTimeout(resolve, n));
                    const changeBackColor = async () => {
                      await wait(5000);
                      nodeView(node, '#595959')
                      node.attr('transform', function(d) {return 'translate(' + d.x + ',' + d.y + ')';}).call(force.drag);
                    };
                    // call the async function
                    changeBackColor();
                    node.attr('transform', function(d) {return 'translate(' + d.x + ',' + d.y + ')';}).call(force.drag);
                }
                

                </script>
                